body{line-height:1.6;font-size:18px;font-family:sans-serif;color:#333;padding:0 10px}
h1,h2,h3{line-height:1.2}
.hidelink{color:#333;text-decoration:none;}
h1{text-transform:uppercase;color:#CD0006}
a:link{color:#CD0006;text-decoration:none;}
.sidebar{margin:-18px;padding-top:8%;width:290px;background-color:#8f0006;position:fixed;height:100%;overflow:auto;text-align:center;top:-15px}
.sidebar h1{color:white;font-size:24px;}
.sidebar a{display:block;color:white;padding:18px;}
.sidebar a:hover{background-color:#CD0006;text-decoration: none}
.notsidebar{margin:40px auto;max-width:650px;}a:hover{text-decoration:underline;}
