:root {
	--mybg:           #fff;
	--textcolor:    #333;
	--bgcode:         #e8e8e8;
	--footertxtcolor: #555;
}
body{line-height:1.6;font-size:18px;font-family:sans-serif;color:var(--textcolor);background-color:var(--mybg);padding:0;text-align:justify;margin: 0;}
h1,h2,h3{line-height:1.2;text-align:left}
.hidelink{color:var(--textcolor);text-decoration:none;}
h1{text-transform:uppercase;color:#CD0006}
a:link{color:#CD0006;text-decoration:none;}
a:hover{text-decoration:underline;}
.sidebar{padding-top: 80px;width:280px;background-color:#8f0006;position:fixed;height:100%;overflow:auto;text-align:center;top:0}
.sidebar h1{padding:0 15px 0;color:white;font-size:24px;text-align:center}
.sidebar a{display:block;color:white;padding:18px;}
.sidebar a:hover{background-color:#CD0006;text-decoration: none}
.notsidebar{padding: 0 10px;margin:40px auto 0;max-width:700px;}
.notsidebar h2 a{color:var(--textcolor);text-decoration:none;}
.notsidebar h2 a:hover{color:#CD0006;}
.notsidebar h3 a{color:var(--textcolor);text-decoration:none;}
.notsidebar h3 a:hover{color:#CD0006;}
.notsidebar h4 a{color:var(--textcolor);text-decoration:none;}
.notsidebar h4 a:hover{color:#CD0006;}
footer{font-size:12px;color:var(--footertxtcolor);text-align:center;}
code {font-size:92%;background-color:var(--bgcode);border:1px solid #aaa;overflow:auto;border-radius:0.2em;padding:0.1em;}
@media screen and (max-width: 1300px) {
    .sidebar{width:180px;}
    .notsidebar {padding-left:150px;}
}
@media screen and (max-width: 950px) {
    .sidebar{padding-top:10px;margin: 0;width: 100%;height: auto;position: relative;}
    .sidebar a {text-align: center;float: none;}
    .notsidebar {padding:10px;margin: 0 auto;}
    .index {text-align:left;}
}

@media (prefers-color-scheme: dark) {
:root {
	--textcolor: #fcfbe0;
	--mybg:        #080808;
	--bgcode:      #2d2d2d;
	--footertxtcolor: #666;
}
}
