{% extends "daddy.html.j2" %}
{% block content %}
<h1>{{ article.title }}</h1>
{% if article.category != "othercontent" %}
<p>Posted on {{ article.date }}</p>
{% else %}
<br>
{% endif %}
{{ article.html }}
{% endblock %}
