{% extends "daddy.html.j2" %}
{% block content %}
<a href="./{{ article.file }}"><h1>{{ article.title }}</h1></a>
{% if article.category != "othercontent" %}
<p><b>Posted on {{ article.date }}</b></p>
{% else %}
<br>
{% endif %}
{{ article.html }}
{% endblock %}
