<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/style.css" type="text/css"/>
  <link rel="stylesheet" href="{{ site.url }}/pygmentize.css" type="text/css"/>
{% if article is defined %}
  <title>{{ article.title }}' blog</title>
{% else %}
  <title>{{ site.author }}' blog</title>
{% endif %}
</head>

<body>
  <div class="sidebar">
    <h1>Hi, I'm Daniel Jakots!</h1>
    <br>
    <a href="{{ site.url }}">Home</a>
    <a href="./about.html">About</a>
    <a href="https://px.chown.me">Pictures</a>
    <a href="https://github.com/danieljakots/chownmeblog">Code</a>
    <a href="./feed.xml">Feed</a>
  </div>
  <div class="notsidebar">
{% if article is not defined %}
  <header>
    <a href="{{ site.url }}" class=hidelink>
      <h1>Welcome on my blog!</h1>
    </a>
  </header>

  <br>
{% endif %}
{% block content %}
{% endblock %}
  </div>
</body>
</html>
