<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/style.css" type="text/css"/>
  <link rel="stylesheet" href="{{ site.url }}/pygmentize.css" type="text/css"/>
  <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ site.url}}/{{ site.feed_path }}" />
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">
  <meta property="og:image" content="{{ site.url }}/favicon.png">
{% if article is defined %}
  <title>{{ article.title }}</title>
  <meta property="og:title" content="{{ article.title }}">
{% else %}
  <title>{{ site.author }}</title>
  <meta property="og:title" content="{{ site.author }}">
{% endif %}

</head>

<body>
  <div class="sidebar">
    <a href="{{ site.url }}" style="background-color:inherit;"><h1>Hi, I'm Daniel Jakots!</h1></a>
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/about">About</a>
    <a href="{{ site.url }}/contact">Contact</a>
    <a href="{{ site.url }}/{{ site.feed_path }}">Atom Feed</a>
    <a href="https://px.chown.me">Pictures</a>
  </div>
  <div class="notsidebar">
{% if article is not defined %}
  <header>
    <a href="{{ site.url }}" class=hidelink>
      <h1>Welcome on my blog!</h1>
    </a>
  </header>

  <br>
{% endif %}
{% block content %}
{% endblock %}
  <br>
  <footer>
    <p>This website is best viewed on a screen identical to my own. <a href="https://github.com/danieljakots/chownmeblog">Source code</a></p>
  </footer>
  </div>
</body>
</html>
