{% extends "daddy.html.j2" %}
{% block content %}
{% for article in articles%}
  <p><a href="{{ article.file }}">[{{ article.category }}] {{ article.title }}</a> — {{ article.date }}</p>
{% endfor %}
{% endblock %}
